.navbar-default{
    background: #0288d1 none;
}

.navbar-default .navbar-brand{
    color:#fff;
    text-shadow: none;
    font-weight: 800;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:#fff;
}